{% extends "base.html" %}
{% block content %}
  <h1 class="text-center">Binance p2p currency converter</h1>
  {% include 'converter/includes/converter_form.html' with form=form %}
  {% if offers %}
    <p class="text-center m-0">
      Best conversion rate: <em class="fw-bold fst-normal">{{ conversion_rate|floatformat:3 }}</em> {{ from_currency }}/{{ to_currency }}.
    </p>
    <p class="text-center">
      Can convert {{ from_amount|floatformat:3 }} {{ from_currency }} to {{ to_amount|floatformat:3 }} {{ to_currency }}
    </p>
  {% endif %}
  {% for from_offer, to_offer in offers %}
    {% if forloop.first %}
      <div class="row align-items-center justify-content-center">
        <div class="col col-md-2">
          <h6>Best BUY offers</h6>
        </div>
        <div class="col col-md-2">
          <h6>Best SELL offers</h6>
        </div>
        <hr class="m-0">
      </div>
    {% endif %}
    <div class="row align-items-center justify-content-center {% if forloop.first %}fw-bold{% endif %} ">
      {% include 'converter/includes/offer.html' with offer=from_offer is_from_offers=True %}
      {% include 'converter/includes/offer.html' with offer=to_offer is_from_offers=False %}
      {% if forloop.first %}<hr>{% endif %}
    </div>
  {% endfor %}
{% endblock content %}
