<div class="col">{{ offer.currency }}</div>
<div class="col col-md-3">
  <a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo={{ offer.seller.user_id }}">{{ offer.seller.name|slice:":12" }}</a>
</div>
<div class="col">{{ offer.seller.month_finish_rate|floatformat:3 }}</div>
<div class="col d-none d-md-flex">{{ offer.seller.month_orders_count }}</div>
<div class="col d-none d-md-flex">{{ offer.min_amount }}</div>
<div class="col d-none d-md-flex">{{ offer.trade_type }}</div>
<div class="col">{{ offer.price }}</div>
